*{
    margin:0;
    padding: 0;
}
.headerLinks>li>a{
    text-decoration: none;
    color: violet;
    padding: 0rem 0rem 0rem 1rem;
}
.headerLinks{
    list-style-type: none;
    display: flex;
    float: right;
    padding:0.5rem;
    justify-content: space-around;
}
#header{
    display: flex;
    justify-content: space-between;
    padding:0.7rem 1.5rem 1rem 1rem;
    margin:1rem;
}
#headerLinkDiv2{
        margin: 0.2rem 1.5rem;
}
.logo{
    font-size: 2.5rem;
    padding: 0rem 0rem 0rem 1rem;
    font-weight: bold;
    font-family:sans-serif;
    background:-webkit-linear-gradient(left,gold,white);
    text-shadow: 0rem 0.5rem 0.8rem violet;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo:hover{
    text-decoration: underline;
    /* transform:scaleZ(1.2); */
    cursor: pointer;
}
#bg-setter{
    background: blue;
    width: 100vw;
    height: 85vh;
    margin: 0;
    position:relative;
    overflow: hidden;
    padding-block-end:10rem;
   
}
#path{
    stroke: none;
    width: 104%;
    /* color: white; */
    fill: white;
    box-shadow: 0rem 1rem 0rem red;
    height: 58%;
}
#pathSvg{
    height: 72%;
    width: 100%;
    top: 39%;
    bottom: 0;
    position: absolute;
}
#lowerSDesign{
    height: 97%;
    width: 100%;
    overflow: hidden;
    /* height: 38%; */
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 10%;
    bottom: 0vw;
    z-index: -10;

}
.whiteText{
    color:wheat;
}
.smallIntro{
    padding: 2rem 2rem 1.5rem 2.5rem;
    font-size: 1rem;
}
.bigIntro{
    padding: 0rem 1rem;
    font-size: 2.5rem;
    font-weight:bolder;
    /* font-family:Arial, Helvetica; */
    transform: skew(-10deg);
}

.whiteButton{
    color:blue;
    background: white;
    max-width: max-content;
    z-index: 24;
    padding:0.7rem;
    border:0.3rem solid wheat;
    border-radius: 5.5rem;
}
#intro3{
    z-index: 15;
    padding: 0.8rem 1rem;
}
#introPic{
    width: 79vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 14%;
    opacity: 0.35;
    z-index: 2;
    /* right: 47rem; */
    /* bottom: 5rem; */
}
/* 
  #lowerSDesign{
    background: red;
    width: 1020vw;
    height: 12vh;
    display: block;
    position: absolute;
    bottom: 0.07vw;
    z-index: 15;
}
#left-curve-D-Left{
    background: red;
    width: 49.7vw;
    height: 21vh;
    /* opacity: 0.75; */
    /* position: absolute;
    bottom: 0.01vw;
    border: 0.1rem solid orange; */
    /* border-radius: 50%;

}
#left-curve-D-right {
    background: blue;
    width: 100vw;
    height: 20vh;
    /* opacity: 0.75;
    /* position: absolute;
    bottom: 0.01vw; */
    /* border: 0.1rem solid orange; 
    border-radius: 50%;
    float: right;
    left: 49.5%;
    top: 73%;
    z-index: 20;
    overflow: hidden;
}  */

.staticHL{
    color:violet;
    font-size: 2rem;
    padding: 0rem 0rem 0rem 1rem;
}
.staticH:hover{
    transform: scaleZ(1.2);
    /* transform:scaleZ(1.2); */
    cursor: pointer;
}
.staticH{
    border-radius: 0.5rem;
    padding: 0.75rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border:0.25rem solid violet;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 1rem 0rem 1rem purple;
    position: fixed;
    top:0;
    width: 100%;
    background: seashell;
}
.hiddenHeader{
    display: none;
}
.featureDiv{
    
}
#FeatureP{
    font-size: 2rem;
    padding: 0.5rem 0rem 0.5rem 3rem;
    color:blue;
    font-weight:bolder;
    font-family:sans-serif;
    text-align: center;
    
}
#featureText{
    font-family: sans-serif;
    width:40vw;
    text-align:center;
    padding: 1rem 2rem 1rem 1rem;
    
}
.serviceDiv{
    font-size: 1.2rem;
    font-weight:bold;
    border: 0.35rem solid powderblue;
    border-color: -webkit-linear-gradient(to right, powderblue,blue);
    padding:1rem;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(163, 0, 163);
    width:40vw;
    box-shadow: 0rem 0.25rem 0.7rem grey;
    margin-bottom: 2rem;
    border-radius: 0.7rem;
    
}
.features{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1.5rem;
    justify-content: center;
}
.featureIcons{
    font-size: 2.5rem;
    align-items: flex-start;
}
.serviceDiv:hover{
    transform: translateY(-0.5rem);
}
.discoverText{
    font-size:1rem;
    font-family: sans-serif;
    margin:0.8rem 4rem 0.7rem 1rem;
    transform: skew(-2deg);
    color:maroon;
}
.discoverHeadText{
    font-size:3rem;
    font-family: sans-serif;
    margin:1.8rem 3rem 1rem 1rem;
    transform: skew(-1deg);
    color:chocolate;

}
.irregularImgCircle{
    width:50vw;
    height:50vh;
    align-items: center;
}
.midImage{
    background: url(./phoneImage.jpg);
    border: 0.1rem solid blue;
    background-repeat: no-repeat;
    width: 19rem;
    border-radius: 5.3rem 15rem;
    height: 28rem;
}
.phaseText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:brown;
    font-size: 0.8rem;
    padding:0rem 0rem 1rem 0rem;
}
.phaseHeading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: forestgreen;
    text-shadow: 0.2rem 0rem 0.6rem red;
    font-weight: 800;
    font-size:0.9rem;
}
.phaseDiv{
    display:flex;
    align-items:center;
    /* padding:0rem 1rem 1rem 0rem; */
}
.firstPhaseSet{
    padding:0rem 0rem 0rem 1rem;
    margin: 0rem 1.2rem 0rem 0.5rem;
    flex-wrap: wrap;
}
.secondPhaseSet{
    margin:0rem 0.5rem 0rem 1rem;
    flex-wrap: wrap;
}
.irregularCImgDiv{
    border-radius: 48% 346% 100% 141%;
    border:0.3rem dotted chocolate
}
.discoverUs{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.irregularImgCircle {
    width: 50vw;
    height: 26vh;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
